<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome {{user_data.first_name}}</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="dashboard">
    <div class="container-fluid">
        <div class="row text-center" id="header">
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
            <div class="col-sm-2 col-md-8">
                <h2 id="header_text"><a class="text-white text-decoration-none" href="/dashboard">Dojo Room</a></h2>
            </div>
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
        </div>
        <div class="row text-center" id="nav_row">
            <div class="col-sm-12 col-md-12" id="nav_tabs">
                <a href="/dashboard">Dashboard</a>
                <a href="/ninjas">Ninjas</a>
                <a href="/contact_us">Contact</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6" id="avatar_section">
                <!-- <img class="ml-2" src="../images/dojo.jpeg" alt="A picture of dojo" width="200px" height="200px"> -->
                {% if user_data['avatar'] %}
                    <img class="img-thumbnail" src="/static/images/{{user_data['avatar']}}" alt="Hello World" id="avatar">
                {% else %}
                    <img class="img-thumbnail" src="/static/images/ninja.jpg" alt="Hello World" id="avatar">
                {% endif %}
                <form action="/upload_img" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="image">
                            <label class="custom-file-label" for="image">Select An Image</label>
                        </div>
                        <button id="upload_btn" class="btn btn-info" type="submit" value="submit">Upload/Change</button>
                    </div>                           
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h2 id="error">{{message}}</h2>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-6 text-center">
                <h3 id="welcome_message">Welcome, {{user_data['first_name']}} {{user_data['last_name']}}</h3>
            </div>
            <div class="col-sm-12 col-md-6" id="bioBody">
                <h3>Change your bio:</h3>
                <form id="update-bio-form">
                    <textarea type="text" name="bio" id="bio-input-text"></textarea>
                </form>
                <h3>Your Bio:</h3>
                <div class="card text-dark">
                    <div class="card-body bio-body">
                        {% if user_data['bio'] %}
                            <p>{{user_data['bio']}}</p>
                        {% else %}
                            <p>Update Your Bio!</p>
                        {% endif %}
                    </div>
                </div>
                <button class="btn bg-info" id="update_bio"><a class="text-decoration-none text-white update-bio-btn">Update Bio</a></button>
            </div>
        </div>
        <div class="row" id="followers">
            <div class="col-sm-12 col-md-12 text-center text-white">
                <h5>Ninjas Who Follow You:</h5>
                <!-- <img class="mt-4 ml-5" src="../images/dojo.jpeg" width="100px" height="100px"> -->
                {% for user in users %}
                    {% if user['user_id'] in follower_ids %}
                        {% if user['user_id'] == session['user_id'] %}
                        <a href="/dashboard"><img class="img-thumbnail img-fluid" src="/static/images/{{user['avatar']}}" alt="Hello World" id="mini_avatar"></a>
                        {% else %}
                        <a href="/user_profile/{{user['user_id']}}"><img class="img-thumbnail img-fluid" src="/static/images/{{user['avatar']}}" alt="Hello World" id="mini_avatar"></a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-info" id ="show">Write A Whisper</button>
        <div class="row" id = "whisper">
            <div class="col-sm-12 col-md-12 bg-dark rounded">
                <h2>Whisper... Share Your Secret Here:</h2>
                <form action="/write_whisper" method="POST">
                    <textarea class="form-control" style="height: 100px" name="a_whisper" placeholder="Shhh..."></textarea>
                    <button class="btn bg-info text-white" id="post_whisper" type="submit" value="submit">Post</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12" id="feed">
                <h2 id="feed_title">Your Feed</h2>
                <div class="card" id="feed_card">
                    <div class="card-body">
                    {% if whispers %}
                        {% for dec_whisper in dec_whispers | sort(attribute='message_id', reverse=True) %}
                            <p class="font-weight-bold">{{dec_whisper['first_name']}} {{dec_whisper['last_name']}} whispers:</p>
                            <!-- <p>Hello World!!!</p> -->
                            <p>{{dec_whisper['message']}}</p>
                            <p>{{dec_whisper['likes']}} people like this</p>
                            {% if dec_whisper.author_id == session['user_id'] %}
                                <p><button class="btn bg-danger"><a id="delete" href="/delete_whisper/{{dec_whisper['message_id']}}">Delete</a></button></p>
                            {% endif %}
                            {% if dec_whisper.author_id != session['user_id'] %}
                                {% if dec_whisper['author_id'] not in followed_ids %}
                                    <p><button class="btn bg-info" id = "bFollow"><a id="follow"href="/follow/{{dec_whisper['author_id']}}">Follow {{dec_whisper['first_name']}} {{dec_whisper['last_name']}}</a></button id></p>
                                {% else %}
                                <p><button class="btn bg-info" id = "bUnfollow"><a id="unfollow"href="/unfollow/{{dec_whisper['author_id']}}">Unfollow {{dec_whisper['first_name']}} {{dec_whisper['last_name']}}</a></button></p>
                            {% endif %}
                                {% endif %}
                        {% endfor %}
                    {% else %}
                        <h5 class="text-dark">Share your secrets!</h5>
                    {% endif %}
                    </div>
                </div>         
                <!-- <p>{#{}#} likes.</p>
                <p><a href="/unlike_whisper/{#{}#}"><button>Unlike</button></a></p>
                <p><a href="/like_whisper/{#{}#}"><button>Like</button></a></p>
                <p><a href="/delete_whisper/{#{}#}"><button>Delete</button></a></p>
                <p><a href="/edit_whisper/{#{}#}"><button>Edit</button></a></p> -->
            </div>
        </div>
        <div class="row text-center" id="footer">
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
            <div class="col-sm-2 col-md-8">
                <h2 id="header_text"><a class="text-white text-decoration-none" href="/dashboard">Dojo Room</a></h2>
            </div>
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $(".update-bio-btn").click(function(){
                var bio = $("#bio-input-text").val();
                if (bio == "" || bio == null) {
                    alert("You cannot update empty bio");
                }
                else {
                $.ajax({
                    type: "POST",
                    url: '/dashboard/update_bio',
                    data: {"bio": bio},
                    dataType: 'json',
                        success: function (response) {
                        console.log(response);
                        $(".bio-body").text(bio);

                        },
                        error: function(xhr,status,error) {
                            console.log(error)
                           
                            },
                        })
                }
        });
            //     $.ajax({
            //         url: "/dashboard/update_bio",
            //         method: "POST",
            //         data: {"bio": bio}
            //     })
            //     .done(function(){
            //         // $(".-body").append(whisperQ)
            //         console.log("success");
            //     })
            //     return false;
            // })

            // function rebuildWhisper(){
            //     $.ajax({
            //         url: "/dashboard",
            //         method: "GET",
            //     })
            //     .done(function(whisperQ){
            //         $(".card-body").html(whisperQ)
            //     })
            // }

            // setInterval(rebuildWhisper, 500)

            $("#whisper").fadeOut();
            $("#show").click(function() {
                $("#whisper").fadeToggle(1000);
                });
            $('button').click(function(){
                $("bFollow").load("dashboard.html");
            
            });
        });
    </script>
</body>
</html>
