<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="user_profile">
    <div class="container-fluid">
        <div class="row text-center" id="header">
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
            <div class="col-sm-2 col-md-8">
                <h2 id="header_text"><a class="text-white text-decoration-none" href="/dashboard">Dojo Room</a></h2>
            </div>
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
        </div>
        <div class="row text-center" id="nav_row">
            <div class="col-sm-12 col-md-12" id="nav_tabs">
                <a href="/dashboard">Dashboard</a>
                <a href="/ninjas">Ninjas</a>
                <a href="/contact_us">Contact</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-12 col-xl-12" id="avatar_section">
                <!-- <img class="ml-2" src="../images/dojo.jpeg" alt="A picture of dojo" width="200px" height="200px"> -->
                {% if user_data['avatar'] %}
                    <img class="img-fluid img-thumbnail" src="/static/images/{{user_data['avatar']}}" alt="Hello World" id="avatar"> 
                {% else %}
                    <img class="img-fluid img-thumbnail" src="/static/images/ninja.png" alt="Hello World" id="avatar">
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-10 col-lg-5 col-xl-4" id="bioBody">
                <h3>{{user_data['first_name']}} {{user_data['last_name']}}'s Bio:</h3>
                <div class="card text-dark">
                    <div class="card-body">
                        {% if user_data['bio'] %}
                            <p>{{user_data['bio']}}</p>
                        {% else %}
                            <p>This ninja is in the shadows!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="followers">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h5>Ninjas Who Follow You:</h5>
            </div>
                <!-- <img class="mt-4 ml-5" src="../images/dojo.jpeg" width="100px" height="100px"> -->
                {% for user in users %}
                    {% if user['user_id'] in follower_ids %}
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center">
                        {% if user['user_id'] == session['user_id'] %}
                        <p class="usernames">{{user.first_name}} {{user.last_name}}</p>
                        <a href="/dashboard"><img class="img-thumbnail img-fluid" src="/static/images/{{user['avatar']}}" alt="Hello World" id="mini_avatar"></a>
                        {% else %}
                        <p class="usernames">{{user.first_name}} {{user.last_name}}</p>
                        <a href="/user_profile/{{user['user_id']}}"><img class="img-thumbnail img-fluid" src="/static/images/{{user['avatar']}}" alt="Hello World" id="mini_avatar"></a>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-info" id ="show">Write A Whisper</button>
        </div>
        <div class="row justify-content-center" id = "whisper">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4 bg-dark rounded">
                <h2>Whisper... Share Your Secret Here:</h2>
                <form action="/write_whisper_profile" method="POST">
                    <textarea class="form-control" style="height: 100px" name="a_whisper" placeholder="Shhh..."></textarea>
                    <button class="btn bg-info text-white" id="post_whisper" type="submit" value="submit">Post</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center" id="feed">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4">
                <div class="card">
                    <h2 id="feed_title">Your Feed</h2>
                    <div class="card-body">
                    {% if whispers %}
                        {% for dec_whisper in dec_whispers %}
                            <p class="font-weight-bold">{{dec_whisper['first_name']}} {{dec_whisper['last_name']}} whispers:</p>
                            <!-- <p>Hello World!!!</p> -->
                            <p>{{dec_whisper['message']}}</p>
                            <p>{{dec_whisper['likes']}} people like this</p>
                            {% if dec_whisper.author_id == session['user_id'] %}
                                <p><button class="btn bg-danger"><a id="delete" href="/delete_whisper/{{dec_whisper['message_id']}}">Delete</a></button></p>
                            {% endif %}
                            {% if dec_whisper.author_id != session['user_id'] %}
                                {% if dec_whisper['author_id'] not in followed_ids %}
                                    <p><button class="btn bg-info" id = "bFollow"><a id="follow" href="/follow/{{dec_whisper['author_id']}}">Follow {{dec_whisper['first_name']}} {{dec_whisper['last_name']}}</a></button id></p>
                                {% else %}
                                <p><button class="btn bg-info" id = "bUnfollow"><a id="unfollow" href="/unfollow/{{dec_whisper['author_id']}}">Unfollow {{dec_whisper['first_name']}} {{dec_whisper['last_name']}}</a></button></p>
                            {% endif %}
                                {% endif %}
                        {% endfor %}
                    {% else %}
                        <h5 class="text-dark">Share your secrets!</h5>
                    {% endif %}
                    </div>
                </div>         
                <!-- <p>{#{}#} likes.</p>
                <p><a href="/unlike_whisper/{#{}#}"><button>Unlike</button></a></p>
                <p><a href="/like_whisper/{#{}#}"><button>Like</button></a></p>
                <p><a href="/delete_whisper/{#{}#}"><button>Delete</button></a></p>
                <p><a href="/edit_whisper/{#{}#}"><button>Edit</button></a></p> -->
            </div>
        </div>
        <div class="row text-center" id="footer">
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
            <div class="col-sm-2 col-md-8">
                <h2 id="header_text"><a class="text-white text-decoration-none" href="/dashboard">Dojo Room</a></h2>
            </div>
            <div class="col-sm-2 col-md-2">
                <img src="../static/images/dojo2.png" id="dojo" alt="A dojo icon">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $("#whisper").fadeOut();
            $("#show").click(function() {
                $("#whisper").fadeToggle(1000);
                });
            $('button').click(function(){
                $("bFollow").load("dashboard.html");
            
            });
        });
    </script>
</body>
</html>